@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
:root {
    --main-color: #FFB43A;
    --hover-color: hsl(37, 94%, 57%);
    --body-color: #1E1E2A;
    --container-color: #2D2E37;
    --text-color: #FCFEFF;
}
::selection {
    background-color: var(--main-color);
    color: var(--text-color);
}
html::-webkit-scrollbar {
    width: 0.2rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    width: 100%;
}
body {
    background: var(--body-color);
    color: var(--text-color);
}
.container {
    max-width: 1060px;
    margin: auto;
    width: 100%;
}
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}
.bx {
    cursor: pointer;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.logo {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}
.logo span {
    color: var(--main-color);
}
.search-box {
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: var(--container-color);
    border-radius: 4rem;
    margin-right: 1rem;
}
.search-box .bx {
    font-size: 1.1rem;
}
.search-box .bx:hover {
    color: var(--main-color);
}
#search-input {
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 0.938rem;
    background: transparent;
}
.user {
    display: flex;
}
.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}


.navbar {
    position: fixed;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
}
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;
    transition: 300ms;
}
.nav-link:hover, .nav-active {
    color: var(--text-color);
    transform: scale(1.1);
}
.nav-link .bx {
    font-size: 1.6rem;
}
.nav-link-title {
    font-size: 0.7rem;
}


section {
    padding: 3rem 0 2rem;
}
.home {
    position: relative;
    min-height: 470px;
    display: flex;
    align-items: center;
    margin-top: 5rem !important;
    border-radius: 0.5rem;
}
.home-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 0.5rem;
}
.home-text {
    padding-left: 40px;
}
.home-title {
    font-size: 2rem;
    font-weight: 600;
}
.home-text p {
    font-size: 0.938rem;
    margin: 10px 0px 20px;
    color: var(--main-color);
}
.watch-btn {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    color: var(--text-color);
}
.watch-btn .bx {
    font-size: 21px;
    background: var(--main-color);
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.watch-btn .bx:hover {
    background: var(--hover-color);
}
.watch-btn .span {
    font-size: 1rem;
    font-weight: 400;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--container-color);
    padding: 8px 14px;
    border: 1px solid hsl(200 100% 99% / 5%);
    margin-bottom: 2rem;
    border-radius: 10px;
}
.swiper-wrapper, .movie-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
    gap: 15px;
}
.heading-title {
    font-size: 1.2rem;
    font-weight: 500;
}
.movie-box {
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
    border-radius: 10px;
}
.movie-box:hover .movie-box-img {
    transform: scale(1.06)
}
.movie-box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 300ms ease-in-out;
}
.movie-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 14px;
    background: linear-gradient(8deg, hsl(240 17% 14% / 74%) 14%, hsl(240 17% 14% / 14%) 44%);
    overflow: hidden;
    opacity: .5;
    transition: 200ms;
}
.movie-text:hover {
    opacity: 1;
}
.movie-title {
    font-size: 1.1rem;
    font-weight: 500;
}
.movie-type {
    font-size: 0.938rem;
    font-weight: 500;
}
.next-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}
.next-btn {
    background: var(--main-color);
    padding: 12px 20px;
    color: var(--text-color);
    font-weight: 500;
    transition: 300ms;
    border-radius: 10px;
}
.next-btn:hover {
    background: var(--hover-color);
}

.copyright {
    text-align: center;
    padding: 20px;
}

.play-container {
    position: relative;
    min-height: 540px;
    margin-top: 5rem !important;
}
.play-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.play-text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(8deg, hsl(240 17% 14% / 74%) 14%, hsl(240 17% 14% / 14%) 44%);
}
.play-text h2 {
    font-size: 1.5rem;
    font-weight: 500;
}
.rating {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: var(--main-color);
    margin-top: 4px;
    column-gap: 3px;
}
.tags {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 1rem 0rem;
}
.tags a {
    color: var(--text-color);
}
.tags span {
    background-color: var(--container-color);
    padding: 0px 4px;
}
.play-movie {
    position: absolute;
    bottom: 18rem;
    right: 10rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--main-color);
    font-size: 24px;
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 180, 58, 0.7);
    }
    40% {
        box-shadow: 0 0 0 50px rgba(255, 193, 7, 0);
    }
    80% {
        box-shadow: 0 0 0 0 rgba(255, 180, 58, 0);
    }
    100% {
        box-shadow: 0 0 0 rgba(255, 180, 58, 0);
    }
}

.video-container {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 400;
    background: hsl(234 10% 20% / 60%);
}
.video-container.show-video {
    display: flex;
}
.video-box {
    position: relative;
    width: 75%;
    margin-top: 50px;
}
.video-box #my-video {
    width: 100%;
    aspect-ratio: 16/9;
}
.close-video {
    position: absolute;
    top: -3rem;
    right: 0;
    font-size: 40px;
    color: var(--main-color);
}

.about-movie {
    margin-top: 2rem;
}
.about-movie h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--main-color);
}
.about-movie p {
    max-width: 600px;
    font-size: 0.938rem;
    margin: 10px 0px;
}
.cast-heading {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--main-color);
}
.cast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
    gap: 1rem;
}
.cast-img {
    width: 150px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}
.download {
    max-width: 800px;
    width: 100%;
    display: grid;
    margin: auto;
    justify-content: center;
    margin-top: 2rem;
}
.download-title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1.6rem 0;
    color: var(--main-color);
}
.download-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 2rem;
}
.download-links a {
    text-align: center;
    background: var(--main-color);
    color: var(--body-color);
    padding: 12px 24px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 300ms;
    border-radius: 8px;
}
.download-links a:hover {
    background: var(--hover-color);
}
@media (max-width: 1215px) {
    .navbar {
        bottom: 0px;
        right: 0px;
        left: 0px;
        top: auto;
        transform: translateY(0);
        flex-direction: row;
        justify-content: space-evenly;
        row-gap: 1px;
        padding: 10px;
        border-top: 1px solid hsl(200 100% 99% / 5%);
        background: linear-gradient(8deg, hsl(240 17% 14% / 100%) 5%, hsl(240 17% 14% / 90%) 100%);
    }
    .nav-link .bx {
        font-size: 1.5rem;
    }
    .copyright {
        margin-bottom: 4rem;
    }
}

@media (max-width: 1090px) {
    .container {
        margin: 0px auto;
        width: 95%;
    }
    .movie-box {
        height: 500px;
    }
}

@media (max-width: 991px) {
    .movie-content {
        grid-template-columns: repeat(auto-fit, minmax(214px, 1fr));
    }
}
@media (max-width: 890px) {
    .nav {
        padding: 14px 0px;
    }
    .home {
        min-height: 440px;
        margin-top: 4rem !important;
    }
    .home-text {
        padding-left: 25px;
    }
    .home-title {
        font-size: 1.6rem;
    }
    .watch-btn span {
        font-size: 0.9rem;
    }
    .movie-title {
        font-size: 1rem;
        padding-right: 30px;
    }
    .play-container {
        min-height: 440px;
        margin-top: 4rem !important;
    }
    .play-movie {
        bottom: 14rem;
        right: 4rem;
    }
    .cast {
        justify-content: center;
    }
    .about-movie h2 {
        margin-top: 1rem;
    }
    .movie-box {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 11px 0px;
    }
    .logo {
        font-size: 1.2rem;
    }
    section {
        padding: 2rem 0;
    }
    .home img {
        object-position: left;
    }
    .movie-type {
        font-size: 0.875rem;
    }
    .tags span,
    .about-movie p {
        font-size: 0.875rem;
    }
    .play-text h2,
    .about-movie h2 {
        font-size: 1.3rem;
    }
    .play-movie {
        bottom: 10rem;
        right: 2rem;
    }
    .movie-box {
        height: 290px;
    }
}

@media (max-width: 514px) {
    .home {
        min-width: 380px;
    }
    .swiper-wrapper, .movie-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 2fr));
        gap: 15px;
    }
    .home img {
        object-position: center;
    }
    .heading {
        padding: 2px 14px;
    }
    .heading-title {
        font-size: 1rem;
    }
    .play-text {
        padding: 20px;
    }
    .play-movie {
        bottom: 4rem;
    }
    .video-box {
        width: 94%;
    }
    .cast-heading {
        font-size: 1.1rem;
    }
    .cast-title {
        font-size: 0.9rem;
    }
}
@media (max-width: 408px) {
    * {
        scroll-padding-top: 5rem;
    }
    .nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 5px;
    }
    .swiper-wrapper, .movie-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 2fr));
        gap: 15px;
    }
    .search-box {
        max-width: 100%;
        width: 100%;
        border-radius: 4px;
        order: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .home,
    .play-container {
        margin-top: 7rem !important;
        padding: 0px 10px;
    }
    .movie-box {
        height: 300px;
    }
    .home img {
        object-position: center;
        width: 95%;
    }
    .movie-content {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1rem;
    }
}